div#footer
	p An 
		a(href='https://github.com/danielthepope/countdown') open source project
		|  by 
		a(href='https://twitter.com/danielthepope') @danielthepope
	p Also 
		a(href='https://market.mashape.com/danielthepope/countdown') an API