meta(name="viewport" content="width=device-width, initial-scale=1")
title= pageTitle
link(href="/style.min.css" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet")
