meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#B1D2F2")
title Countdown
link(rel="manifest" href="/manifest.json")
link(rel="stylesheet" href="/style.min.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn")
link(rel="apple-touch-icon" sizes="192x192" href="images/icon-192.png")
link(rel="apple-touch-icon" sizes="512x512" href="images/icon-512.png")
