body {
	background-color: #B1D2F2;
	text-align: center;
}

#board {
	background-color: #0041A5;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

.btn {
	margin: 10px;
}

#results p {
	font-size: large;
}
