body {
	font-family: sans-serif;
	background-color: #B1D2F2;
	text-align: center;
}

#board {
	background-color: #0041A5;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 15px;
	text-transform: uppercase;
	border-style: solid;
}

button {
	width: 90px;
	height: 40px;
	margin: 10px;
}

#results p {
	font-size: large;
}

div {
	margin-bottom: 10px;
}
